body{
    background-color: #68cdd5;
    color:white;
    padding:0;
    margin:0;
    overflow: hidden;
}
div.back{
    padding:2rem;
}
div.title{
    text-align:center;
    font-size:1.4em;
}
.title p{
    padding:5rem 3rem;
    text-align:left;
    line-height:1.8em;
    letter-spacing:0.1em;
}
div.left{
    float:left;
    padding:5rem 0 0 6rem;
}
div.right{
    float:right;
    padding:5rem 6rem 0 0;
}