*{
    margin:0;
    padding:0;
}
body{
    background: #eff0f4;
    width:100%;
    overflow:hidden;
}
header{
    background-color: #5fc0cd;
    color:white;
    text-align:center;
    font-size:1.4rem;
    padding:1.5rem 0;
}
span.left {
    float: left;
    padding:0.2rem 0 0 2%;
}
.middle{
    font-size:1.6rem;
}
.right{
    float:right;
    padding:0.2rem 2% 0 0;
}
table{
    width:100%;
    border-width:2rem;
    margin:0.5rem 0;
    border-spacing:0 0.5rem;
}
td{
    background-color: white;
}
.photo{
    width:5rem;
    height:5rem;
}
img{
    margin:1rem;
}
input{
    font-size:1.6rem;
    height:48px;
    width:95%;
    border-width:0 0 0 0.1rem;
    border-color:#eff0f4;
    border-left-style:solid;
    padding-left:1rem;
}
::-webkit-input-placeholder {
    color:#eff0f4;
    font-size:1.6rem;
}
:-moz-placeholder {
    color:#eff0f4;
    font-size:1.6rem;
}
::-moz-placeholder {
    color:#eff0f4;
    font-size:1.6rem;
}
:-ms-input-placeholder {
    color:#eff0f4;
    font-size:1.6rem;
}
button{
    width:100%;
    background-color: #5fc0cd;
    color:white;
    text-align:center;
    border:0;
    font-size:2rem;
    margin: 2rem 0;
    padding:1.5rem 0;
}
footer{
    color:#5fc0cd;
    font-size:1.5em;
    text-align:right;
    padding:0 3%;
}