*{
    margin:0;
    padding:0;
}
body{
    padding-bottom:4rem;
}
header{
    background-color:#5fc0cd;
    color:white;
    width:100%;
    font-size:1.1rem;
    text-align:center;
    padding:0.5rem 0;
}
.back{
    position:absolute;
    left:1rem;
}

div.main{
    width:100%;
    position:relative;
    overflow:auto;
}
.profile{
    background-image:url(images/backgroud.png);
    background-size:100% 100%;
    height:7rem;
    padding:1.5rem;
    color:white;
    font-size:1rem;
    line-height:2rem;
    display:flex;
    display:-webkit-flex;
    align-items: center;
}
.head{
    flex:none;
}
.head img{
    width:5rem;
    height:5rem;
}
.info{
    margin-left:1.5rem;
    height:4rem;
    flex:auto;
}
p.local{
    font-size:0.8rem;
    background-image:url(images/local.png);
    background-repeat:no-repeat;
    background-size:0.8rem 1rem;
    background-position: left;
}

.skill{
    font-size:1.1rem;
    margin:1rem 0 1rem 1rem;
    padding-left:0.4rem;
    border-left:3px solid #5fc0cd;
}
hr{
    width:100%;
    height:1px;
    border:0;
    background-color:#eff0f4;
    clear:both;
}
ul{
    margin:0 0 0 1rem;
    list-style-type:none;
    line-height:3rem;
    font-size:1rem;
    color:gray;
}
li{
    border-bottom: 1px solid #eff0f4;
}
li:last-child{
    display:flex;
    display:-webkit-flex;
    align-items:center;
}
li p>span{
    background-image:url(images/star.png);
    background-repeat:no-repeat;
    background-size:0.9rem 0.9rem;
    background-position:left;
    font-size:1rem;
    padding-left:1.2rem;
    margin-left:0.8rem;
}
li p span:first-child{
    border-right:1px solid #eff0f4;
    padding-right:0.8rem;
}
.label{
    color:#999999;
    padding:0 1rem 0 0.5rem;
    border-right:1px solid #eff0f4;
}
.detail{
    padding-left:1rem;
}
.price{
    color:red;
    padding-left:1rem;
}
.self{
    color:#999999;
    padding:0 1rem 0 0.5rem;
    border-right:1px solid #eff0f4;
    flex:none;
}
.intro{
    font-size:0.9rem;
    line-height:1.2rem;
    padding:0.2rem 2rem 0.2rem 1rem;
    flex:auto;
    vertical-align:middle;
}
footer{
    width:100%;
    height:4rem;
    position:fixed;
    bottom:0;
    left:0;
    background-color: white;
}
.message{
    float:left;
    width:45%;
    height:3rem;
    margin:0 0 0 4%;
    background-color:white;
    color:#5fc0cd;
    font-size:1rem;
    border:1px solid #5fc0cd;
    outline:none;
    border-radius:0.5rem;
    box-shadow:1px 1px inset;
}
.contact{
    float:right;
    width:45%;
    height:3rem;
    margin:0 4% 0 0;
    background-color:#5fc0cd;
    color:white;
    font-size:1rem;
    border-radius:0.5rem;
    outline:none;
    box-shadow:1px 1px white;
}